/************************************ Communs ******************************************/

body {
    background-image: url("../imgs/photo_projet.png");
    width: 100%;
}

.boutons {
    margin-left: 33%;
}

.imgTop {
       width: 35%;
       margin-top: 2%;
       margin-left: 34%;
       margin-bottom: 5%;
   }

/************************************ Accueuil ******************************************/

.boutonAccueil {
    width: 55%;
    height: 80px;
    margin-bottom: 10px;
    border: 0;
    font-family: auto;
    color: orangered;
    font-size: 2.8vw;
    background-color: darkgrey;
    border-radius: 10px;
}

/************************************ Connexion *************************************/

#inputUser {
    width: 55%;
    height: 80px;
    margin-bottom: 10px;
    border: 0;
    font-family: auto;
    font-size: 300%;
    background-color: darkgrey;
    border-radius: 10px;
    text-align: center;
    color: lightpink;
}

#inputPassword {
    width: 55%;
    height: 80px;
    margin-bottom: 10px;
    border: 0;
    font-family: auto;
    font-size: 300%;
    background-color: darkgrey;
    border-radius: 10px;
    text-align: center;
    color: lightpink;
}

#inputValider {
    width: 20%;
    height: 60px;
    border: 0;
    font-size: 220%;
    background-color: #5DEA69;
    border-radius: 40px;
    color: black;
    text-align: center;
    margin-top: 2%;
    margin-left: 17.5%;
}

/*********************************** Managment ******************************************/

.imgTop2 {
    width: 12%;
    margin-top: 1%;
    margin-left: 1%;
}

#titre {
    width: 43.5%;
    font-size: 8.5vw;
    margin-left: 29%;
    margin-bottom: 4%;
    font-weight: bold;
    padding: 0.7%;
    margin-top: 0;
    border-bottom: red solid 8px;
}

.managmentBoutons {
    width: 20%;
    height: 80px;
    margin-bottom: 1%;
    margin-left: 41.5%;
    border: 0;
    font-family: auto;
    font-size: 3vw;
    background-color: darkgrey;
    border-radius: 10px;
}

#managmentBouton1 {
    background-color: dodgerblue;
}

#managmentBouton2 {
    background-color: orangered;
}

#managmentBouton3 {
    background-color: lightskyblue;
}

#addDeviceBouton {
    width: 12%;
    height: 5%;
    margin-top: 3%;
    margin-right: 2%;
    float: right;
    border: 0;
    font-family: auto;
    font-size: 1.1vw;
    background-color: lightgreen;
    border-radius: 10px;
}

#deleteDeviceBouton{
    width: 12%;
    height: 5%;
    margin-top: 3%;
    margin-right: 2%;
    float: right;
    border: 0;
    font-family: auto;
    font-size: 1vw;
    background-color: indianred;
    border-radius: 10px;
}

/*********************************** Add Devices *************************************/

#addDevice {
    margin-left: 35%;
}

#formAddDevice {
    margin-left: 12%;
}

#titreAddDevice {
    font-size: 4.1vw;
    border-bottom: solid black 3px;
    width: 48%;
    margin-top: 15%;
    margin-bottom: 5%;
}

#labelAdd {
    font-size: 2.5vw;
    font-family:corbel,sans-serif;
    margin-left: 4%;
}

#labelAdd1 {
    font-size: 2.5vw;
    font-family:corbel,sans-serif;
    margin-right: 6.5%;
    margin-left: 4%;
}

#labelAdd2 {
    font-size: 2.5vw;
    font-family:corbel,sans-serif;
    margin-right: 7%;
    margin-left: 4%;
}


.inputAdd {
    margin-top: 20px;
    width: 4%;
    height: 25px;
    margin-left: 0;
    margin-right: 0;
}

#idAddDevice {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%;
    font-size: 2vw;
    height: 50px;
    border-radius: 10px;
    border: 0;
    text-align: center;
}

#confirmAdd {
    margin-left: 10%;
    font-size: 1.5vw;
    border-radius: 5px;
    border: 0;
    background-color: #5DEA69;
    padding: 0.5%;
}

.backBouton {
    font-size: 1.5vw;
    background-color: red;
    padding: 0.5%;
    float: right;
    margin-right: 5%;
    border: 0;
    border-radius: 5px;
}

/***************************************** Delete Device ********************************************/

#deleteDevice {
    margin-left: 35%;
}

#formDeleteDevice {
    margin-left: 6.5%;
}

#titreDeleteDevice {
    width: 41%;
    font-size: 4.1vw;
    border-bottom: solid black 3px;
    margin-bottom: 5%;
    margin-top: 15%;
}

#idDeleteDevice {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2vw;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: 0;
    text-align: center;
}

#boutonDelete {
    margin-left: 10%;
    margin-top: 3%;
    font-size: 1.8vw;
    border-radius: 5px;
    border: 0;
    background-color: #5DEA69;
    padding: 0.5%;
}

#confirmDelete {
    margin-left: 10%;
    margin-top: 1%;
    font-size: 1.5vw;
    border-radius: 5px;
    border: 0;
    background-color: red;
    padding: 0.5%;
}

/************************************ Users ***************************************/

#titreUsers {
    font-size: 3.8vw;
    margin-top: 8%;
    margin-left: 41%;
    border-bottom: red 5px solid;
    width: 20%;
}

#usersDiv {
    font-size: 2vw;
    margin-left: 45%;
    height: 280px;
    overflow-y: scroll;
    width: 14.5%;
}

#usersDiv button{
     font-size: 2vw;
    margin-bottom: 4%;
    border-radius: 10px;
    border: black solid 2px;
 }

#usersTable {
    margin-left: 20%;
    font-size: 1vw;
    text-align: center;
    width: 64%;
    background-color: white;
    border-radius: 10px;
}

#usersTable thead tr th {
    font-size: 1.5vw;
}

#usersTable thead tr th, #usersBody tr td {
    padding-left: 3%;
    padding-right: 3%;
}

/****************************************** Devices *******************************************/

#titreDevices {
    font-size: 4vw;
    margin-top: 8%;
    margin-left: 35%;
    border-bottom: red 5px solid;
    width: 32%;
}

#devicesDiv {
    margin-left: 38%;
}

#idRecherche {
    font-size: 2vw;
    margin-bottom: 1%;
    border-radius: 5px;
    border: black solid;
}

#boutonRecherche {
    font-size: 1.5vw;
    margin-left: 15%;
    background-color: #5DEA69;
    border-radius: 5px;
    border: 0;
}

#resultatRecherche {
    margin-left: 32.5%;
    font-size: 1.5vw;
}

/**************************************** Types ******************************************/

#titreTypes {
    font-size: 4vw;
    margin-top: 8%;
    margin-left: 36%;
    border-bottom: red 5px solid;
    width: 26.9%;
}

#devicesTypes table {
    background-color: white;
    font-size: 1.5vw;
    width: 50%;
    margin-left: 24%;
    text-align: center;
    border-radius: 10px;
}

#devicesTypes tbody{
    display: block;
    height: 202px;
    overflow-y: auto;
}

#devicesTypes table thead tr th {
    font-size: 2vw;
    border: black solid 2px;
    border-radius: 10px;
}

#devicesTypes table tbody tr td {
    width: 10%;
}

#devicesTypes table thead tr th, #devicesTypes table tbody tr td {
    padding-left: 3%;
    padding-right: 3%;
}

#formTypes {
    background-color: #5DEA69;
    float: right;
    margin-right: 10%;
    font-size: 2vw;
    border-radius: 10px;
}

#formTypes input {
    width: 25px;
    height: 25px;
}
